<!DOCTYPE html>
<html>
<body style="background-image: url(lake2.jpg); background-size: 100%;">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lake</title>
 <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<p style="background-color: white; color: purple; text-align: center;">The water appears to be safe...but let's check just in case!</p>
<div style="position:relative; left:600px; top:500px;">
	<button class="search">Search lake</button>
</div>
</body>
