<!DOCTYPE html>
<html>
<body style="background-image: url(lake2dirty.jpg); background-size: 100%;">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dirty Lake</title>
 <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<p style="background-color: white; color: purple; text-align: center; position: relative; top:100px;">Oh no! The water is dirty!</p>
<img src="phone.png" style="position:relative; left:400px; top:150px;">
<div style="position:relative; left:600px; top:150px;">
	<button class="close">Close App</button>
</div>
</body>
